# NLKWhitelistX
# Version: 1.2.1

# 配置MySQL数据库
database:
  host: "localhost"
  port: 3306
  database: "whitelist"
  user: "root"
  password: "password"
  usessl: false
  properties:
    maximumPoolSize: 10
    minimumIdle: 2
    idleTimeout: 30000
    connectionTimeout: 30000
    maxLifetime: 1800000

# 配置API选择项
api:
  useMojangAPI: true
  # 如果设置为 false，使用第三方API，默认值为 true 使用Mojang API，
  thirdPartyAPI: "https://api.mojang.com/users/profiles/minecraft/{username}"
  # 此处默认设置为Mojang API，用于请求正版玩家的UUID数据；
  # 如果不使用Mojang API，请在此输入第三方API的URL，例如：https://api.example.com/users/profiles/{username}

# 配置插件输出的消息
messages:
  not_whitelisted: "You are not whitelisted on this server."
  internal-error: "发生了一个内部错误：{0}"
  reject-join-no-whitelist: ":( 此 ID 还未处于白名单中"
  reject-join-incorrect-cases: "您正在使用 {0} 加入服务器，但您申请的白名单为 {1}，请保持用户名大小写一致"
  wladd-bad-arguments: "参数错误：请使用 /wladd <玩家ID> <担保人（若无请填 - ）> <审核批次号（担保请填 000）> <白名单添加备注>"
  wladd-success: "玩家 {0} (ID: {1}) 已成功添加到白名单。"
  wladd-uuid-not-found: "无法找到玩家 {0} 的 UUID，添加白名单失败。"
  wladd-uuid-timeout: "获取玩家 {0} 的 UUID 超时，添加白名单失败。"
  wladd-error-no-updates: "添加失败，此玩家可能已经在白名单中。请使用 /wlquery <玩家ID> 查询白名单详情。"
  wlremove-bad-arguments: "参数错误：请使用 /wlremove <玩家ID> <删除原因>"
  wlremove-error-no-updates: "删除失败，未找到与指定玩家 ID 对应的白名单记录。"
  wlremove-success: "玩家 {0} 已成功从白名单中移除。"
  wlquery-bad-arguments: "参数错误：请使用 /wlquery <玩家ID> 或通过 /wl 查询详细语法"
  wlquery-entry: |
    序列号: {0} - UUID: {1} - 玩家ID：{2}
    添加时间：{3}
    担保人：{4} 操作员：{5}
    审核批次号：{6}
    描述：{7}
    曾用ID：{8}
    删除于：{9} 删除操作员：{10}
    删除原因：{11}
  wlquery-entry-simple: |
    玩家 {0}（曾用 ID: {1}），担保人：{2}，审核批次号：{3}，
    加入时间：{4}
  # 审核批次查询
  wlquery-lot-header: "==审核批次号：{0}=="
  wlquery-lot: "ID：{1} 添加时间：{2} 曾用名：{3}"
  # 简洁白名单查询
  wlquery-list: |
    ==白名单玩家共有 {0} 人==
    {1}
  # 详细白名单查询
  wlquery-list-full-header: "==白名单玩家共有 {0} 人=="
  wlquery-list-full: "ID：{1} 添加时间：{2} 曾用名：{3}"

  # 简洁所有记录查询
  wlquery-all: |
    ==数据库内共有 {0} 位玩家==
    {1}
  # 详细所有记录查询
  wlquery-all-full-header: "==数据库内共有 {0} 位玩家=="
  wlquery-all-full: "ID：{0} 添加时间：{1} 曾用名：{2}"
  wlquery-no-data: "&c在数据库中未找到任何相关的数据。"
  delete-time: "删除时间：{0}"
  wlreload-success: "配置文件已成功重新加载。"
  wlreload-failure: "配置文件重新加载失败，请检查控制台的错误日志。"
  no-permission: "&c你没有权限执行此命令: {0}"
  # 描述
  unknown-command: "&c未知命令: {0}，请使用 /wl 查询详细语法"
  wl-command: |
    &lNLKWhitelistX &7- 版本 {version}
    &7一个基于Velocity的白名单插件。
    
    &f可用命令:
    &f/wl &7| &f/wl help &7- 显示插件信息及可用命令列表
    &f/wl add <玩家ID> <担保人（若无请填 Unknown 或 -）> <审核批次号> <备注> &7- 添加玩家到白名单
    &f/wl remove <玩家ID> <删除原因> &7- 从白名单中移除玩家
    &f/wl query <玩家ID>   &7- 查询单个玩家的数据
    &f/wl query lot <审核批次号>  &7- 查询同一批次玩家的数据
    &f/wl query list (-full)  &7- 查询所有白名单玩家的数据（可添加 -full 选项输出更详细的数据）
    &f/wl query all (-full)  &7- 查询数据库内所有玩家的数据，包括已被移除白名单的玩家（可添加 -full 选项输出更详细的数据）
    &f/wl reload &7- 重载插件

# 在 wlquery-entry 中，所有占位符代表意义如下：
#  {0} 数据库中的序列号
#  {1} 玩家UUID,固定值
#  {2} 当前玩家ID
#  {3} 添加时间
#  {4} 担保人
#  {5} 操作员
#  {6} 审核批次号
#  {7} 备注
#  {8} 该玩家在数据库中记录的曾用ID
#  {9} 删除于
#  {10} 删除操作员
#  {11} 删除原因

